@import url(reset.css);

/* font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif;
 */

@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css);

 * {
     box-sizing: border-box;
 }
/* variables :root se llaman con var */
 :root {
     --color-principal: #fa573a;
     --color-secundario:#21242e;
     --fuentePrincipal: 'Montserrat', sans-serif;
     --fuenteSecundaria: 'Handlee', cursive;
     --anchoMaximo: 1100px; 
     --gris: #aaa;
 }

 body {
     font-family: var(--fuentePrincipal);
     font-size: 1em;
 }

 img {
     width: 100%;
     height: auto;
     display: block;
 }

 .container {
     max-width: var(--anchoMaximo);
     margin: 0 auto;
 }

.container-fluid {
    width: 100%;
}

 .row {
     display: flex;
 }

/* header */
header .nav-top {
    background-color: var(--color-secundario);
    padding: 20px 10px;
}

header .nav-top a {
    color: white;
    font-size: 120%;
    text-decoration: none;
}

header .nav-top a span {
    display: none;
}

header .nav-top a i {
    color: var(--color-principal);

}

header .nav-top .row {
    justify-content: space-between;
}

header nav {
    padding: 20px 10px;
}

header .hamburguesa {
    width: 50px;
    cursor: pointer;
}                

header .hamburguesa div {
    border-top: 2px solid var(--gris) ;
    margin: 10px;
}

header nav .row {
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav ul {
    width: 100%;
}

header nav .logo {
    max-width: 110px;
}

header nav ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    color: var(--gris);
    border-bottom: 1px solid var(--gris);
}

header nav ul li a:hover {
    color: var(--color-principal);
}

header nav ul li a .activo {
    color: var(--color-principal);
}

@media (min-width:48em) {
    header .nav-top a span {
        display: inline;
    }
}

@media (min-width:62.750em){
    header .hamburguesa {
        display: none;
    }
header nav ul {
    width: auto;
}
    header nav ul li {
        display: inline-block;
    }
    header nav ul li a {
        padding: 5px 20px;
        border-bottom: none;
    }
}
/* fin header */

/* footer */
footer {
    background-color: var(--color-secundario);
    padding: 20px 10px;
    text-align: center;
    position: relative;
    color: white;
    width: 100%;
    margin-top: 20px;
    bottom: 0px;
}

footer a {
    color: white;
}

footer a:hover {
    text-decoration: none;
}

@media (min-width:48em){
    footer{
        text-align: left;
    }
}
/* fin footer */

/* inicio hero */
.hero {
    background-image: url("../images/fondo.jpg");
    background-size: cover;
    background-position: center center;
    background-color: #999;
    background-blend-mode: multiply;
    padding: 15% 10px;
}

.hero h1 {
    font-family: var(--fuenteSecundaria);
    color: white;
    font-size: 2.5em;
}

.hero h2 {
    color: var(--color-principal);
    font-size: 1.5em;
    margin: 1em 0;
}

.hero p {
    color: white;
    font-size: 1.10em;
}

.boton {
    display: inline-block;
    background-color: var(--color-principal);
    color: white;
    padding: 1.15em;
    text-decoration: none;
    margin: 1em 0;
    border: 1px solid var(--color-principal);
}

.boton:hover {
    background-color: transparent;
    color: var(--fuentePrincipal);
   
}

.hero ul li  {
    display: inline-block;
    font-size: 2em;
    margin-right: 1em;
}

.hero ul li a {
    color: white;
}

.boton:hover i {
    transform: translateX(5px);
}

.boton i {
    transition: 0.5s;
}
/* fin hero */

/* inicio main section our service */

main section {
    padding: 2.125em 0,0 0.825em;;
}

main section h2{
    color: black;
    font-family: var(--fuenteSecundaria);
font-size: 2em;
text-align: center;
margin-top: 5px;
}

main section h2 span {
    color: var(--color-principal);
}

main section .underline {
    position: relative;
    width: 5em;
    margin: 0 auto;
    color: var(--color-principal);
    font-weight: 700;
    margin-bottom: 2em;
}

main section .underline hr {
    position: absolute;
    width: 100%;
    top: 0.030em;
    border-color: var(--color-principal);
}

main section .underline span {
text-align: center;
display: block;
}

main #ourservice .row {
    flex-wrap: wrap;
   
}

main #ourservice article {
    border-bottom: 1px solid var(--color-secundario);
    padding: 1.825em 0;
}

main #ourservice article div i {
    color: var(--color-principal);
    font-size: 2em;
    border: 2px solid var(--color-principal);
    padding: 0.800rem;
}

main #ourservice article .fa-truck {
    transform: rotateY(180deg);
}

main #ourservice h3 {
    margin: 1em 0;
    font-weight: 700;
}

.enlace {
    text-decoration: none;
    color: var(--color-principal);
    margin: 1em 0 0 0;
    display: block;
}

@media (min-width:48em) {
   
main #ourservice article {
    width: 50%;
    border-bottom: 0;
    border-left: 1px solid var(--color-secundario);
    padding: 1.825em;
    margin-bottom: 1em;
}

main #ourservice article:last-child {
    width: 100%;
}

}

@media (min-width:62.750em) {
    main #ourservice article, main #ourservice article:last-child {
width: 33.333%;
    }
}



/* fin main section our service */

/* inicio main section about us */
main #aboutus .row {
    flex-wrap: wrap;
}

main #aboutus h3 {
    font-weight: 700;
}

main #aboutus h4 {
    margin: 1em 0;
    color: var(--color-principal)
}

main #aboutus .marco {
   margin: 15px 10px;
    border: solid 3px var(--color-principal);
    transform: rotateZ(10deg);
    width: 90%;
}

main #aboutus .marco img {
    transform: rotateZ(-10deg);
}

main #aboutus .columna:hover .marco {
    transform: rotateZ(0deg);

}

main #aboutus .columna:hover .marco, main #aboutus .columna:hover .marco img {
    transform: rotateZ(0deg);
}

main #aboutus .marco {
    transition: 1s;
}

main #aboutus .marco:hover {
    transition: 1s;
}

main #aboutus {
    padding-bottom: 70px;
}
@media (min-width:48.000em ){
    main #aboutus .columna:first-child{
        width: 40%;
    }
    main #aboutus .columna:last-child {
        width: 60%;
    }
}
/* fin main about us */

/* inicio Blog*/

main #ourblogs .row {
    flex-wrap: wrap;
   
}
main #ourblogs article {
    width: 50%;
    padding: 1.825em;
    margin-bottom: 1em;
}

main #ourblogs h3 {
    margin: 1em 0;
    font-weight: 700;
}   

main #ourblogs h4 {
    margin: 1em 0;
    color: var(--color-principal);
}

#ourblogs .enlace:hover {
        background-color: transparent;
        color: var(--fuentePrincipal);
}


@media (min-width:48em) {
    main #ourblogs article {
        width:33%;
        border-bottom: 0;
        padding: 1.825em;
        margin-bottom: 1em;
    }
    

}


/* fin blog */

/* inicio menu */

.container-fluid {
    background-color: var(--color-secundario);
}
.row aside {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row #menu {
    display: inline-flex;
    width: 100%;
}



#menu h2 {
    color: white;
    padding-top: 10px;
}
main aside{
    display: inline-block;
    width:100%;
    vertical-align: top;
}


aside nav {
    text-decoration: none;
}

aside nav ul li {
    
color: white;
padding: 1em;
text-decoration: none;

}
 aside nav ul li a {
    color: white;
     text-decoration: none;
     font-weight: bolder;
   
 }

 aside nav ul li:hover {
     background-color: var(--color-principal);
     width:50%;
     height: 30px;
     border-radius: 5px;
   
   

 }

 aside h3 {
     font-size: 1.5em;
     color: white;
     font-weight: bold;
     text-align: left;
     margin: 1em 0;
 }

 .underline_menu {
    position: relative;
    width: 8%;
    top: 0.030em;
    border-color: var(--color-principal);
}
.underline_menu hr {
    position: relative;
width: 100%;
top: 0.030em;
border-color: var(--color-principal);
}

 aside p {
     color: white;
     text-align: left;
     font-weight: 400;
     font-size: 1.250em;
     margin: 2em 0;
     width: 20%;
 }

 .articulos h3 {
    font-size: 1.5em;
    color: white;
    font-weight: bold;
    text-align: left;
    margin: 1em 0;
 }

 .articulos h3 span {
     color: var(--color-principal);
 }

.articulos {
  display: inline-block;
  width: 40%;
}

.articulos .imagen {
    display: inline-block;
    width: 100%;
}

 #menu article p {
     color: white;
     font-weight: 400;
     font-size: 1.250em;
 }

 #menu article a {
     padding: 10px;
     margin-bottom: 30px;
 }

#menu article {
    flex-direction: row;
}

/* fin menu */